@page "/recipes"
@inject IRecipesService RecipesService

<PageTitle>Recipes</PageTitle>

<h1>Recipes</h1>

@if (recipes == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var recipe in recipes.Items)
        {
            <RecipeCard Recipe="recipe" />
        }
    </ul>

    <p><strong>Total:</strong> @recipes.Total</p>
}

@code {
    PagedResult<RecipeWithCuisineDto>? recipes = null;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipesService.GetPagedResultAsync();
    }
}
