@page "/recipes/{Id:long}/edit"
@inject IRecipeService RecipeService
@attribute [Authorize]

@if (_recipe == null || _updateRecipeDto == null)
{
    <PageTitle>Edit Recipe</PageTitle>

    <h1>Edit Recipe</h1>

    <p>Loading...</p>
}
else
{
    <PageTitle>Edit @_recipe.Name</PageTitle>

    <h1 class="mb-3">Edit @_recipe.Name</h1>

    <AuthorizeView Policy="@Policies.Update" Resource="_recipe">
        <Authorized>
            <EditForm Model="_updateRecipeDto" Context="editContext" FormName="editRecipe" Enhance>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <InputText @bind-Value="_updateRecipeDto.Name" id="name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <InputText @bind-Value="_updateRecipeDto.Description" id="description" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="instructions">Instructions</label>
                    <InputTextArea @bind-Value="_updateRecipeDto.Instructions" id="instructions" class="form-control" rows="5" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p class="text-danger">You do not have permission to edit this recipe.</p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public long Id { get; set; }

    private RecipeWithCuisineDto? _recipe;
    private CreateUpdateRecipeDto? _updateRecipeDto;

    protected override async Task OnInitializedAsync()
    {
        _recipe = await RecipeService.GetAsync(Id);

        if (_recipe == null)
        {
            return;
        }

        _updateRecipeDto = new CreateUpdateRecipeDto
            {
                Name = _recipe.Name,
                CuisineId = _recipe.Cuisine?.Id ?? default,
                Description = _recipe.Description,
                Ingredients = _recipe.Ingredients,
                Instructions = _recipe.Instructions?.Markdown,
            };
    }
}
