#instructions {
}

    #instructions ::deep h1,
    #instructions ::deep h2,
    #instructions ::deep h3,
    #instructions ::deep h4,
    #instructions ::deep h5,
    #instructions ::deep h6 {
        margin-bottom: 8px;
    }

    #instructions ::deep h1 {
        font-size: var(--mud-typography-h4-size);
        font-family: var(--mud-typography-h4-family);
        font-weight: var(--mud-typography-h4-weight);
        line-height: var(--mud-typography-h4-lineheight);
        letter-spacing: var(--mud-typography-h4-letterspacing);
        text-transform: var(--mud-typography-h4-text-transform);
    }

    #instructions ::deep h2 {
        font-size: var(--mud-typography-h5-size);
        font-family: var(--mud-typography-h5-family);
        font-weight: var(--mud-typography-h5-weight);
        line-height: var(--mud-typography-h5-lineheight);
        letter-spacing: var(--mud-typography-h5-letterspacing);
        text-transform: var(--mud-typography-h5-text-transform);
    }

    #instructions ::deep h3 {
        font-size: var(--mud-typography-h6-size);
        font-family: var(--mud-typography-h6-family);
        font-weight: var(--mud-typography-h6-weight);
        line-height: var(--mud-typography-h6-lineheight);
        letter-spacing: var(--mud-typography-h6-letterspacing);
        text-transform: var(--mud-typography-h6-text-transform);
    }

    #instructions ::deep h4 {
        font-size: var(--mud-typography-subtitle1-size);
        font-family: var(--mud-typography-subtitle1-family);
        font-weight: var(--mud-typography-subtitle1-weight);
        line-height: var(--mud-typography-subtitle1-lineheight);
        letter-spacing: var(--mud-typography-subtitle1-letterspacing);
        text-transform: var(--mud-typography-subtitle1-text-transform);
    }

    #instructions ::deep h5 {
        font-size: var(--mud-typography-subtitle2-size);
        font-family: var(--mud-typography-subtitle2-family);
        font-weight: var(--mud-typography-subtitle2-weight);
        line-height: var(--mud-typography-subtitle2-lineheight);
        letter-spacing: var(--mud-typography-subtitle2-letterspacing);
        text-transform: var(--mud-typography-subtitle2-text-transform);
    }

    #instructions ::deep h6 {
        font-size: var(--mud-typography-subtitle2-size);
        font-family: var(--mud-typography-subtitle2-family);
        font-weight: var(--mud-typography-subtitle2-weight);
        line-height: var(--mud-typography-subtitle2-lineheight);
        letter-spacing: var(--mud-typography-subtitle2-letterspacing);
        text-transform: var(--mud-typography-subtitle2-text-transform);
    }

    #instructions ::deep p,
    #instructions ::deep ul,
    #instructions ::deep ol {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: var(--mud-typography-body1-size);
        font-family: var(--mud-typography-body1-family);
        font-weight: var(--mud-typography-body1-weight);
        line-height: var(--mud-typography-body1-lineheight);
        letter-spacing: var(--mud-typography-body1-letterspacing);
        text-transform: var(--mud-typography-body1-text-transform);
    }

    #instructions ::deep ul, #instructions ::deep ol {
        padding-left: 2rem;
    }

    #instructions ::deep li {
        margin-bottom: 12px;
    }