@if (Recipe != null)
{
    <div class="card h-100">
        <div class="card-img-top ratio ratio-1x1 bg-secondary">
            @if (Recipe.CoverImage != null)
            {
                <img src="@Recipe.CoverImage.Url" class="card-img-top" alt="@Recipe.CoverImage.AltText" />
            }
        </div>

        <div class="card-body d-flex flex-column">
            <h5 class="card-title">@Recipe.Name</h5>
            <div class="mt-auto">
                <NavLink href=@($"recipes/{Recipe.Id}") class="btn btn-primary stretched-link">View recipe</NavLink>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    public RecipeWithCuisineDto? Recipe { get; set; }
}
