.card-img-top {
    height: 300px;
}

    .card-img-top ::deep img {
        object-fit: cover;
    }

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}