@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Recipe Catalog</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div>
                    <i class="bi bi-house-door" aria-hidden="true"></i>
                    <span>Home</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Recipes">
                <div>
                    <i class="bi bi-journal-richtext" aria-hidden="true"></i>
                    <span>Recipes</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Search">
                <div>
                    <i class="bi bi-search" aria-hidden="true"></i>
                    <span>Search</span>
                </div>
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <div>
                            <i class="bi bi-person" aria-hidden="true"></i>
                            <span>@context.User.Identity?.Name</span>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <div>
                                <i class="bi bi-door-closed" aria-hidden="true"></i>
                                <span>Logout</span>
                            </div>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <div>
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                            <span>Register</span>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <div>
                            <i class="bi bi-door-open" aria-hidden="true"></i>
                            <span>Login</span>
                        </div>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
    <div class="fw-light p-2 mx-3 mb-3 text-center bg-black bg-opacity-25 rounded">
        Powered by .NET @Environment.Version
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

